
<!--populate bar at the top of screen-->
<div class = "container">
  <nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Tasty Snacks</li>
  </ol>
</nav>

<!--<product-details *ngFor = "let p of products; let i = index"
 [product] = "p"
 [index] = "i"mx-auto d-block"center-block img-responsive"
></product-details>-->
<div class = "row">
<div class = "card-deck">
<div class="card" *ngFor = "let p of products; let i = index" style="width: 20rem;">
  <img class="card-img-top"class="mx-auto d-block img-responsive"
  [src]= "'src/app/images/' + p.imageName"
  [alt] = "p.name">
  <div class="card-body">
    <div class = "row float-right">
      <div class="badge badge-success">{{p.price | currency: 'USD':true }}</div>
    </div>

    <div class = "row" id = "title">
    <h4 class="card-title">{{ p.name }}</h4>
  </div>
    <a [routerLink] = "[i]"
    routerLinkActive = "active" class="btn btn-primary btn-block">Product Details</a>
    <a href="/cart" class="btn btn-warning btn-block">Add to Cart</a>

  </div>
</div>

</div>
</div>
